body {
  font-family: Arial;
  background: #111;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #333;
  text-align: center;
}

.alert {
  background: #ff4d4d;
}

.normal {
  background: #1a1a1a;
}